# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# General
HOST_NAME=http://localhost:3000
NODE_ENV=development

# Mapbox token (public - exposed to browser)
NEXT_PUBLIC_MAPBOX_TOKEN=

# Database connection strings
# Transaction pooler
# Used by: Server Actions, API routes, Server Components for app queries
DATABASE_URL=
# Direct Connection
# Used by: Database migrations
DATABASE_URL_DIRECT=

# File Storage (S3-compatible)
FILE_STORAGE_ENDPOINT=
FILE_STORAGE_ACCESS_KEY=
FILE_STORAGE_SECRET_KEY=
FILE_STORAGE_BUCKET=
FILE_STORAGE_REGION=
# If using a CDN in front of your file storage, set the URL below
FILE_STORAGE_CDN_URL=